.hd-20-app-container {
  display: flex;
  min-height: 100vh;
  background-color: var(--color-palladian);
}

.hd-20-content-wrapper {
  margin-left: var(--sidebar-width);
  margin-top: var(--topbar-height);
  flex: 1;
  min-height: calc(100vh - var(--topbar-height));
  padding: 24px;
}

#hd-20-main {
  width: 100%;
  height: 100%;
}
