.hd-20-app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100%;
  background-color: var(--color-palladian);
}

.hd-20-content-wrapper {
  margin-left: 0;
  margin-top: var(--topbar-height);
  flex: 1;
  width: 100%;
  min-height: calc(100vh - var(--topbar-height));
  padding: 32px;
  box-sizing: border-box;
}

#hd-20-main {
  width: 100%;
  max-width: 100%;
}
